@model Project_8_MVC_Batool.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Money_Payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Money_Payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_OfPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_OfPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Payment_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
