@model IEnumerable<Project_8_MVC_Batool.Faculty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FaculityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faculity_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faculity_Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FaculityName)
        </td>
        <td>
<img  src="~/image/@item.Faculity_Image" width="50" height="50"/>        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faculity_Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FaculityID }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Details", "Details", new { id=item.FaculityID } , new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FaculityID } , new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
