@model Project_8_MVC_Batool.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_navAndFooter.cshtml";

}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container">
        @Html.AntiForgeryToken()
        <h4 style="color: #51be78">Create a new account.</h4>
        <hr />

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("first Name", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("fname", "", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("GPA", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("GPA", "", new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Year of Study", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("Y_O_Study", "", new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("National_Number", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("SSN", "", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Phone Number", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("phone", "", new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model, "Faculity", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.Action("drop")


        </div>

        <div class="form-group">
            @Html.LabelFor(model => model, "Your Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="file" id="image" name="UserImage" value="UserImage"  required/>


        </div>

        <div class="form-group">
            @Html.LabelFor(model => model, "Tawjihi Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="file" id="Tawjihi_Image" name="Tawjihi_Image" value="Tawjihi_Image" required />


        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" style="background-color: #51be78" />
            </div>
        </div>
    </div>
}

