@model Project_8_MVC_Batool.Major

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Major</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MajorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajorName)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.Major_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price_OfHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price_OfHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_OfHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_OfHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.minimum_rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minimum_rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.FaculityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.FaculityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MajorImage)
        </dt>

        <dd>
            <img src="~/image/@Model.MajorImage" width="50" height="50" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MajorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
